<!-- Delete Modal -->
<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-body text-center">
                <!-- Ícone de Lixeira -->
                <div class="p-4 mb-3"
                     style="background-color: #FFE8E8;
                                  border-radius: 50%;
                                  width: 80px;
                                  height: 80px;
                                  margin: 0 auto;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;">
                    <i class="bi bi-trash" style="font-size: 2.5rem; color: #E74C3C;"></i>
                </div>

                <!-- Mensagem Principal -->
                <h5 class="fw-bold">Tem certeza que deseja excluir este produto?</h5>
                <p class="text-muted">Este produto será excluída permanentemente.</p>

                <!-- Botões de Ação -->
                <div class="d-flex justify-content-around mt-4">
                    <button type="button" class="btn btn-outline-secondary px-4 py-2 rounded-3" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <form id="deleteProductForm" method="post">
                        <button type="submit" class="btn btn-danger px-4 py-2 rounded-3">Sim, Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script para passar o ID dinamicamente para o formulário -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteProduct = document.getElementById('deleteProduct');
        deleteProduct.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var productId = button.getAttribute('data-product-id');

            var form = document.getElementById('deleteProductForm');
            form.setAttribute('action', `/excluir-produto/${productId}`);
            form.setAttribute('method', 'post');

            var methodInput = document.createElement('input');
            methodInput.setAttribute('type', 'hidden');
            methodInput.setAttribute('name', '_method');
            methodInput.setAttribute('value', 'DELETE');

            form.appendChild(methodInput);
        });
    });

</script>