@model List<DevExpert.Marketplace.Core.Domain.Categories.CategoryOutputViewModel>

@foreach (var category in Model)
{
    @if (ViewBag.SelectedCategoryId != null && ViewBag.SelectedCategoryId == category.Id)
    {
        <option value="@category.Id" selected="selected">@category.Name</option>
    }
    else
    {
        <option value="@category.Id">@category.Name</option>
    }
}