.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.nav-tabs .nav-link.active {
    background-color: #f0f4f7;
    border-color: #ddd #ddd #f0f4f7;
}

.nav-tabs .nav-link {
    color: #333;
}

.nav-tabs .nav-link:hover {
    color: #000;
}

.btn-toggle {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    margin: 0 0.5rem;
    cursor: pointer;
}

.btn-toggle:hover {
    color: var(--complementary-color);
    background-color: #f0f0f0;
    border: 1px solid var(--complementary-color);
}

.btn-toggle.active, .btn-toggle:focus {
    color: var(--complementary-color);
    background-color: #f0f0f0;
    border: 1px solid var(--complementary-color);
    outline: none;
}