@model List<DevExpert.Marketplace.Application.ViewModels.OutputViewModels.CategoryOutputViewModel>

@{
    ViewData["Title"] = "Categorias";
}

<div class="container py-5">
    <!-- Cabeçalho com título e opção de incluir nova categoria -->
    <div class="header-section">
        <h1>Lista de Categorias</h1>
        <div>
            <a class="new-category-link me-3" title="Nova Categoria" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Nova Categoria
            </a>
        </div>
    </div>

    <!-- Lista de Categorias -->
    <ul class="list-group">

        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <span>@category.Name</span>
                <div>
                    <a class="btn-icon me-2 d-inline-flex align-items-center" title="Editar" asp-action="Edit"
                       asp-route-id="@category.Id">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <button type="button" class="btn-icon-trash" title="Excluir" data-bs-toggle="modal"
                            data-bs-target="#deleteModal" data-category-id="@category.Id">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </li>
        }
    </ul>
</div>

<partial name="_DeleteModal" />