@model List<DevExpert.Marketplace.Application.ViewModels.OutputViewModels.CategoryOutputViewModel>

@{
  ViewData["Title"] = "Categorias";
}

<div class="container py-5">
  <!-- Cabeçalho com título e opção de incluir nova categoria -->
  <div class="header-section">
    <h1>Lista de Categorias</h1>
    <div>
      <a href="#" class="new-category-link me-3" title="Nova Categoria">
        <i class="bi bi-plus-circle"></i> Nova Categoria
      </a>
    </div>
  </div>

  <!-- Lista de Categorias -->
  <ul class="list-group">

    @foreach (var category in Model)
    {
      <li class="list-group-item">
        <span>@category.Name</span>
        <div>
          <button class="btn-icon me-2" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn-icon-trash" title="Excluir">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </li>
    }
      
  </ul>
</div>