@using System.Globalization
@model List<DevExpert.Marketplace.Application.ViewModels.OutputViewModels.ProductOutputViewModel>

@{
  ViewData["Title"] = "Produtos";
}

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">

      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Category Filter -->
        <div>
          @await Component.InvokeAsync("CategoryFilter")
        </div>
      </div>

      <div class="col-12">
        <div class="row g-4 justify-content-center">
          @foreach (var product in Model)
          {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <a asp-action="Details" asp-route-id="@product.Id" class="product-card text-decoration-none">
                @{
                  var image = product.Images!.FirstOrDefault(x => x.IsCover);
                  var filePath = image?.FilePath ?? "https://via.placeholder.com/350x200"; // Caso não tenha imagem
                }
                <div class="product-image"
                     style="background-image: url('@filePath'); height: 200px; background-size: cover;"></div>
                <div class="product-info">
                  <h5>@product.Name</h5>
                  <p>@product.Description</p>
                  <div class="price">@product.Price.ToString("C", new CultureInfo("pt-BR"))</div>
                </div>
              </a>
            </div>
          }
        </div>

        @* <div class="text-center mt-4"> *@
        @*   <button class="btn btn-load-more">Carregar Produtos</button> *@
        @* </div> *@
      </div>
    </div>
  </div>
</section>